@import "tailwindcss";

body {
    font-family: 'JetBrains Mono', 'Fira Code', 'Cascadia Code', monospace;
}

#textarea-flex-div {
    min-height:160px;
    max-height:400px;
    overflow:auto;
} 

textarea {
    font-size:13px; 
    line-height:1.6;
    tab-size:2;
    white-space:pre;
    overflow:auto;
    resize:none;
}